# Simplificando la lectura de archivos de texto de ancho fijo y comparación de dataframes con distintos números de filas

In [1]:
#Importando las librerías a usar
import pandas as pd
import xlwings as xw

## Comparación de dos archivos con igual número de filas

In [2]:
#Estableciendo el ancho de las columnas
widths = [8,12,6,6,6,8,8,8,7,7,8,8,6,8,8,7,9,7,8,8]

In [3]:
#Leer el primer archivo de texto
texto1 = pd.read_fwf("reporte_1.txt", skiprows=66, widths=widths)[:-2]
texto1.head()

,BUS#,X-- NAME --X,BASKV,MAX V,TIME,FLTMVA,SYMM I,ASYMM I,X/R,FACTOR,SYMM I.1,ASYMM I.1,X/R.1,FACTOR.1,PHASE,3IA0,RPOS,XPOS,RZERO,XZERO
0,900W,XZY34,34.5,1.0,0.017,1208.9,20.230,28.598,22.56,1.414,0.0,0.0,1.0,1.0,17.520,0.0,0.0037,0.0827,-100000.0,-100000.0
1,901W,XZY34,34.5,1.0,0.017,589.3,9.863,14.628,33.29,1.483,0.0,0.0,1.0,1.0,8.541,0.0,0.0051,0.1697,-100000.0,-100000.0
2,801W,XZY34,34.5,1.0,0.017,753.8,12.616,18.200,26.10,1.443,0.0,0.0,1.0,1.0,10.925,0.0,0.0051,0.1327,-100000.0,-100000.0
3,701W,XZY34,34.5,1.0,0.017,486.7,8.145,12.059,32.61,1.480,0.0,0.0,1.0,1.0,7.054,0.0,0.0063,0.2055,-100000.0,-100000.0
4,902W,XZY T1B,34.5,1.0,0.017,352.6,5.901,8.574,27.57,1.453,0.0,0.0,1.0,1.0,5.110,0.0,0.0103,0.2836,-100000.0,-100000.0

In [4]:
#Leer el nombre de las columnas
texto1.columns

Index(['BUS#', 'X-- NAME --X', 'BASKV', 'MAX V', 'TIME', 'FLTMVA', 'SYMM I',
       'ASYMM I', 'X/R', 'FACTOR', 'SYMM I.1', 'ASYMM I.1', 'X/R.1',
       'FACTOR.1', 'PHASE', '3IA0', 'RPOS', 'XPOS', 'RZERO', 'XZERO'],
      dtype='object')

In [5]:
# Establecer las columnas de interes
columnas1 = ['BUS#', 'X-- NAME --X', 'SYMM I', 'SYMM I.1']
texto1 = texto1[columnas1]
texto1.head()

   BUS# X-- NAME --X  SYMM I  SYMM I.1
0  900W        XZY34  20.230       0.0
1  901W        XZY34   9.863       0.0
2  801W        XZY34  12.616       0.0
3  701W        XZY34   8.145       0.0
4  902W      XZY T1B   5.901       0.0

In [6]:
#Leer el segundo archivo de texto
texto2 = pd.read_fwf("reporte_2.txt", skiprows=66, widths=widths)[:-2]

In [7]:
# Establecer las columnas de interes
columnas2 = ['SYMM I', 'SYMM I.1']
texto2 = texto2[columnas2]
texto2.head()

   SYMM I  SYMM I.1
0  20.230       0.0
1   9.863       0.0
2  12.616       0.0
3   8.145       0.0
4   5.901       0.0

In [8]:
#Copiar la información al archivo excel
archivof = 'Compara.xlsx'
wb = xw.Book(archivof)
sht = wb.sheets['Compara']
sht.range('a4').options(header=False, index = False).value = texto1
sht.range('e4').options(header=False, index = False).value = texto2
wb.save()

## Comparación de dos archivos con distinto número de filas

In [9]:
#Lectura del archivo con número distinto de filas
texto3 = pd.read_fwf("reporte_3.txt", skiprows=66, widths=widths)[:-2]

In [10]:
#Establecer las columnas de interes
columnas3 = ['BUS#', 'SYMM I', 'SYMM I.1']
texto3 = texto3[columnas3]
texto3.head()

   BUS#  SYMM I  SYMM I.1
0  900W  20.230       0.0
1  901W   9.863       0.0
2  801W  12.616       0.0
3  701W   8.145       0.0
4  902W   5.901       0.0

In [11]:
#Cambiar el "index" del dataframe
texto1 = texto1.set_index('BUS#')
texto3 = texto3.set_index('BUS#')

In [12]:
#Unir ambos dataframes
resultado = pd.concat([texto1, texto3], axis=1, sort=False)
resultado.head()

     X-- NAME --X  SYMM I  SYMM I.1  SYMM I  SYMM I.1
900W        XZY34  20.230       0.0  20.230       0.0
901W        XZY34   9.863       0.0   9.863       0.0
801W        XZY34  12.616       0.0  12.616       0.0
701W        XZY34   8.145       0.0   8.145       0.0
902W      XZY T1B   5.901       0.0   5.901       0.0

In [13]:
resultado

     X-- NAME --X  SYMM I  SYMM I.1  SYMM I  SYMM I.1
900W        XZY34  20.230     0.000  20.230     0.000
901W        XZY34   9.863     0.000   9.863     0.000
801W        XZY34  12.616     0.000  12.616     0.000
701W        XZY34   8.145     0.000   8.145     0.000
902W      XZY T1B   5.901     0.000   5.901     0.000
805W        XZY34   6.160     0.000   6.160     0.000
505W        XZY34   5.161     0.000   5.161     0.000
905W        XZY34   4.828     0.000   4.828     0.000
918W        XZY34   6.245     0.000   6.245     0.000
718W      XZY T3B   5.855     0.000   5.855     0.000
924W       XZYG34  17.012     0.000  17.012     0.000
926W        XZY34   4.167     3.559   4.167     3.559
826W        XZY34  10.020    10.461  10.020    10.461
426W     XZYG3 34   4.585     6.094   4.585     6.094
930W        XZY34   8.878    10.695   8.878    10.695
330W        XZY34   7.305     6.806   7.305     6.806
230W        XZY34   6.757     8.839   6.757     8.839
130W        XZY34   6.822     9.043   6.822     9.043
630W      XZYII34   4.895     6.062   4.895     6.062
830W      XZY 13A   5.656     2.817   5.656     2.817
933W     XZYD34.5  20.063     3.132  20.063     3.132
934W        XZY34   6.368     0.000   6.368     0.000
937W    XZYIII34B  17.039    16.380  17.039    16.380
837W    XZYIII34C  20.357    22.566  20.357    22.566
938W     XZYIII34  20.357    22.566  20.357    22.566
638W       XZYI34  11.201    13.216  11.201    13.216
538W      XZYII34   4.700     6.330   4.700     6.330
438W        XZY34   3.030     4.366   3.030     4.366
338W        XZY34   4.824     0.880   4.824     0.880
939W       XZYI34  11.027    15.199  11.027    15.199
946W       XZY34B  18.658     0.000  18.658     0.000
246W       XZY34A  18.513     0.000     NaN       NaN
947W       XZY34C  17.255     0.000     NaN       NaN
948W       XZYR34   3.175     0.000     NaN       NaN
949W       XZY 34   1.860     2.703     NaN       NaN
950W        XZY34   3.742     0.000   3.742     0.000
952W        XZY34   5.253     0.000   5.253     0.000
152W        XZY34   5.253     0.000   5.253     0.000
855W        XZY34   6.093     0.000   6.093     0.000
957W        XZY34   6.530     0.000   6.530     0.000
857W       XZYL34   6.530     0.000   6.530     0.000
958W       XZYG34   1.795     0.000   1.795     0.000
960W      XZY234A   9.293     0.000   9.293     0.000
760W      XZY234B   9.293     0.000   9.293     0.000
961W      XZY234C   9.304     0.000   9.304     0.000
963W       XZY034   5.723     0.000   5.723     0.000
863W       XZY134   5.393     0.000   5.393     0.000
563W       XZY234   5.723     0.000   5.723     0.000
363W       XZY334   5.504     0.000   5.504     0.000
969W       XZY134  18.131     0.000  18.131     0.000
569W       XZY134  18.128     0.000  18.128     0.000
469W       XZY234  18.096     0.000  18.096     0.000

In [14]:
#Copiar la información al archivo excel
archivof2 = 'Compara2.xlsx'
wb2 = xw.Book(archivof2)
sht2 = wb2.sheets['Compara']
sht2.range('a4').options(header=False, index = True).value = resultado
wb2.save()